# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Jaba\Lab3(dop)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
